

/* 1. 부모요소 */
#header{
    background-color: red;
    width: 700px; height: 450px;
    margin: 0 auto;
    position: relative;
}
/* 2. 자식요소 */
.box{
    width: 100px; height: 70px;
    background-color: yellow;
    border-radius: 10px; 
    /* 하위요소 가로/세로 가운데 */
    display: flex;
    justify-content: center; align-items: center;
    position: absolute;  text-align: center; 
}
.box1{ left: 300px;  top: 30px;}
.box2{  left: 150px; top: 120px;}
.box3{ right: 150px; top: 120px;}
.box4{ left: 150px; bottom: 120px;}
.box5{ right: 150px; bottom: 120px;}
.box6{ left: 300px; bottom: 30px;}