/*========================= 공통 CSS =====================*/
*{
    padding: 0px; margin: 0px;
    box-sizing: border-box; font-size: 12px;
}
li{ list-style-type: none;}
a{ color: black; text-decoration: none;}

#wrap{
    width: 1280px; margin: 0 auto;
}
#main{ width: 1200px; display: flex; justify-content: center;
align-items: center; padding: 200px 0px; height: 830px; 
}
#footer{width: 100%;}
/*=========================1.본문=================*/
#main-img>img{
    width: 552px; height: 450px;
}
#mainRight{
    width: 350px; text-align: center;
    display: flex; flex-direction: column;
    align-items: center; 
}
.log-Main{padding: 10px 0px; margin: 0px 0px 10px;
    display: flex; flex-direction: column; 
    justify-content: center; align-items: center;
}
.log{ margin: 24px 0px 0px;
    width: 350px; height: 223px
}
.title{
    background-image: url(https://static.cdninstagram.com/rsrc.php/v4/yB/r/E7m8ZCMOFDS.png);
    background-position: 0px -52px;
    background-size: auto;
    width: 175px; height: 51px;
    background-repeat: no-repeat;    
}

#mainRight .box {    
     align-items: center; 
    border: 1px solid rgba(219, 219, 219, 1); 
    border-radius: 3px;   margin: 6px 40px;
    
      
}
#mainRight .box > input{
    background-color: #fff;
    padding: 9px 8px 7px 8px;
     height: 36px; width: 100%;
    border: 0px; flex: 1 0 auto;
    outline: none; 
}
.loginbox{ 
    margin: 8px 40px; padding: 5px 0px;
    align-items: stretch; margin-left: 40px;
    margin-right: 40px;    
}
#mainRight .loginbox>button{
    font-size: 14px;
    background-color: rgba(0, 149, 246, 1);    
    font-weight: bold; opacity: 7;
    color: white;
    width: 100%;
    border-radius: 10px;
    padding: 7px 16px;
    border: none;
}



#mainRight p{
    color: rgba(115, 115, 115, 1);
    margin: 0px 18px; 
    
}
.size1{ width: 60px;}
.divider{
    display: flex; align-items: center;
    width: 100%; 
}
.divider::before , .divider::after {
    height: 1px;  background-color: rgba(219, 219, 219, 1);
    top: 6.3px; content: ""; width: 100%;
}
.facelogin{color: #3579EA; font-size: 14px; align-items: center; }
.password-color>a{font-size: 14px; color: rgba(0, 55, 107, 1);}
.still{ font-size: 14px;}
.still>a{font-size: 14px; color: #4150F7;}
.face{width: 20px; height: 20px;}
.facebook{
    display: flex; align-items: center; 
    justify-content: center; margin: 10px 0px;
}
.bottom-log{padding: 10px 0px;}
/*=============================푸터======================*/
.footer-inner{
    padding-bottom: 52px;
}
.footer-banner{
    display: flex; justify-content: center;
    flex-wrap: wrap;     
}
.footer-font>a{
    font-size: 12px; color: rgba(115, 115, 115, 1);
}
.footer-font>a:hover{
    text-decoration: underline; color: rgba(115, 115, 115, 1);
}
.footer-font{
    margin : 0px 8px 12px 8px;
}
.footer-bottom{
    display: flex; margin: 12px 0px;
    justify-content: center;
}
.cong>span , .cong>div>img ,.copy{
    font-size: 12px; color: rgba(115, 115, 115, 1);
}
.copy{margin-left: 16px;}
.cong{
    display: flex; justify-content: center;
    align-items: center;
    
}
