.title{
    width: 450px; 
    box-shadow: 3px 3px 8px  pink;
    border-radius: 15px;    
    text-align: center;
    margin: 50px auto;
    padding: 20px 8px 20px 8px;
}
.h1{
    font-weight: bold;
    padding: 5px;
    font-size: 40px;
    margin: 10px;
}
.m1{
    border-radius: 15px;
    padding: 0px 10px;
    border: 1px solid gray;    
    width: 200px; height: 35px;
    margin: 7px 0px;
}
.w1{ 
    color: blue;
    text-decoration: none;    
}
.m2{
    background-color: blue;
    color: white;
    border-radius: 15px;   
    padding: 5px 20px;
    border: 1px solid gray;
    margin-bottom: 15px;
    margin-top: 5px;
}
